NODE_ENV=development
PORT=8081
API_PREFIX=/api/v1
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/zaui_food?schema=public
JWT_ACCESS_SECRET=replace_me_access_secret
JWT_REFRESH_SECRET=replace_me_refresh_secret
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=30d
CORS_ORIGIN=http://localhost:3000
